@page
@model RazorPagesGrades.Pages.Grade.IndexModel
@{
    ViewData["Title"] = "Grade manipulation";
}

<div class="row">
    <div class="col">
        <h1>Add, Edit, Delete grades</h1>
    </div>
</div>
<div class="jumbotron-fluid">
    <a asp-page="./Add" class="btn btn-primary">(+) grade Add</a>
</div>

<div class="row">
    <div class="col">

    </div>
</div>

